<a href = "/micro_post/new">Create Post</a>
<form method="GET" action="/">

  <label for="name">Search by Title</label>
  <input type="text" name="blog_title" id="name" class="small_form"/>


  <input type="submit" value="SEARCH" class="button" class="small_form"/>

</form>

<!-- Search for post by index # -->
<!-- <form method="GET" action="/micro_post/">
  <input type="text" name="id">
  <input type="submit" value="search">
</form> -->

<!-- @micro_posts = $redis.keys("*micro_posts*").map { |micro_post| JSON.parse($redis.get(micro_post)) } -->

<% p @micro_posts %>
<div class="posts" id="many_posts">
  <%
  # => the .each loop goes through each post so we can access the key value pairs
      @micro_posts.each do |micro_post|
  # => id is a variable set as the posts ID
      id = micro_post["id"]
  # => link blogs the ID into the path to access the specific post
      link = "/micro_post/#{id}"
   %>
    <div class="article">
<!--  STILL WITHIN THE LOOP
      this div class displays the post
      a href wraps the blog title as a link to the individual post
The link variable contains a path with the post :id which was grabbed from the hash. We are using the :id value to plug into the show route to show the specific post
    -->
      <a href=<%= link %> >
        <div class="blog-heading"><%= micro_post["blog_title"] %></div>
      </a>
        <div class="blog-author">by: <%= micro_post["author"] %></div>
        <div class="blog-body"> <%= micro_post["blog_body"] %></div>
    </div>

  <% end %>
</div>


