<!doctype html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">

    <title>project_one_micro_blog_app</title>

    <div id="wrapper-header">
      <div id="header">
        <a href ="/">
          <image src="http://atom.scratchmarketing.com/wp-content/uploads/2012/05/blog-header-white.jpg" class="header-image"/>
        </a>
      </div>
    </div>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
