
<h1>New Blog Post</h1>
<form method="POST" action="/micro_post">
<!-- Blog Title -->
  <label for="name">Title</label>
  <input type="text" name="blog_title" id="name" />
<!-- Author -->
  <label for="name">Author</label>
  <input type="text" name="author" id="name" />
<!-- Body -->
  <label for="name">Body</label>
  <input type="text" name="blog_body" id="name" />


  <input type="submit" value="Post" />
</form>
