
<h1>New Blog Post</h1>
<form method="POST" action="/micro_post">

<!-- Blog Title -->
  <label for="name">Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" name="blog_title" id="name" class="small_form" />
</br>
</br>

<!-- Author -->
  <label for="name">Author</label>
  <input type="text" name="author" id="name" class="small_form" />
</br>
</br>

<!-- Body -->
  <label for="name">Body&nbsp;&nbsp;&nbsp;</label>
 <textarea name="blog_body" id="blog_body" class="small_form" value="Enter text here" cols="30" rows="10"></textarea>
 <!--  <input type="text" name="blog_body" id="name" /> -->

  <input type="submit" value="Post" class="button" />
</form>
